<network>
  <name>lxcbr0</name>
  <uuid>{{ ansible_date_time.iso8601_micro | to_uuid }}</uuid>
  <forward mode='nat'/>
  <bridge name='lxcbr0' stp='on' delay='0'/>
  <mac address='{{ '52:54:00' | random_mac }}'/>
  <ip address='10.0.0.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='10.0.0.2' end='10.0.0.254'/>
    </dhcp>
  </ip>
</network>
